In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Esperance,AU,2020-10-15 03:20:45,-33.87,121.90,60.80,100,75,13.87
1,1,Yellowknife,CA,2020-10-15 03:19:21,62.46,-114.35,24.80,58,75,20.80
2,2,Raudeberg,NO,2020-10-15 03:21:57,61.99,5.14,44.01,86,0,6.93
3,3,Mataura,NZ,2020-10-15 03:21:58,-46.19,168.86,57.00,45,0,5.99
4,4,Magistralnyy,RU,2020-10-15 03:21:58,56.17,107.45,38.05,74,93,8.72

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Vaini,TO,2020-10-15 03:21:58,-21.20,-175.20,77.00,69,75,8.05
8,8,Kapaa,US,2020-10-15 03:21:59,22.08,-159.32,80.60,78,90,3.36
11,11,Alofi,NU,2020-10-15 03:19:44,-19.06,-169.92,77.00,69,75,17.22
13,13,Beira,MZ,2020-10-15 03:21:59,-19.84,34.84,75.20,73,75,14.99
15,15,Toumodi,CI,2020-10-15 03:22:00,6.56,-5.02,75.00,94,100,4.00
16,16,Lahaina,US,2020-10-15 03:22:00,20.88,-156.68,86.00,55,40,6.93
20,20,Bairiki,KI,2020-10-15 03:22:00,1.33,172.98,86.00,70,75,12.75
23,23,Butaritari,KI,2020-10-15 03:22:01,3.07,172.79,82.18,75,68,9.40
30,30,Yulara,AU,2020-10-15 03:22:02,-25.24,130.99,89.60,8,0,9.17
34,34,Apatou,GF,2020-10-15 03:22:03,5.16,-54.35,75.63,86,0,4.32

In [16]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
7        Vaini      TO     77.00 -21.20 -175.20
8        Kapaa      US     80.60  22.08 -159.32
11       Alofi      NU     77.00 -19.06 -169.92
13       Beira      MZ     75.20 -19.84   34.84
15     Toumodi      CI     75.00   6.56   -5.02
16     Lahaina      US     86.00  20.88 -156.68
20     Bairiki      KI     86.00   1.33  172.98
23  Butaritari      KI     82.18   3.07  172.79
30      Yulara      AU     89.60 -25.24  130.99
34      Apatou      GF     75.63   5.16  -54.35

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort
8,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
11,Alofi,NU,77.00,-19.06,-169.92,Taloa Heights
13,Beira,MZ,75.20,-19.84,34.84,Beira Terrace Hotel
15,Toumodi,CI,75.00,6.56,-5.02,Hotel Akanza
16,Lahaina,US,86.00,20.88,-156.68,Lahaina Shores Beach Resort
20,Bairiki,KI,86.00,1.33,172.98,Tarawa Boutique Hotel
23,Butaritari,KI,82.18,3.07,172.79,Isles Sunset Lodge
30,Yulara,AU,89.60,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
34,Apatou,GF,75.63,5.16,-54.35,

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))